# Default ignored files
.idea/shelf/
.idea/workspace.xml
# Editor-based HTTP Client requests
.idea/httpRequests/
# Datasource local storage ignored files
.idea/dataSources/
.idea/dataSources.local.xml
.venv/
*/Inputs/day_[0-9][0-9].txt
Day_Setup.py
Commit Messages.txt